<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Burger restaurant website that reservation option" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#212529" />
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">
    <title>Burger Palace</title>
</head>

<body>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img id="logo" src="../static/images/logo.png" alt="company logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
                aria-label="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#menu_section">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#res_section">Reserve a Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-md">
        <img id="main-burger" src="./static/images/main-burger.jpg" alt="burger and fries">
        <div class="bottom-left">BURGER PALACE</div>
    </div>

    <a id="res_section">
        <div class="container mt-3" id="res-div">
            <h2>Make a Reservation</h2>
            <form action="/submit" method="POST">

                <div class="mb-3 mt-3">
                    <label for="guests">How Many Guests</label>
                    <select name="guest">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date">Select Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>

                <div class="mb-3 mt-3">
                    <label for="time">Select Time</label>
                    <input type="time" class="form-control" id="time" name="time" required>
                </div>

                <div class="mb-3 mt-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName"
                        required>
                </div>

                <div class="mb-3 mt-3">
                    <label for="laststName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName"
                        required>
                </div>

                <div>
                    <label for="submit">Confirm</label>
                    <input type="submit" class="form-control" id="submit" name="submit">
                </div>
            </form>
        </div>
    </a>

    <a id="menu_section">
        <div class="container-fluid mt-3" id="menu-div">
            <h1 class="text-white">Burger Menu</h1>

            <div class="row">
                <div class="col-sm-6 p-3 bg-warning text-dark rounded-start-5">
                    <h3>Burgers</h3>
                    <h5>sweet bison blues</h5>
                    <p>all-natural bison, uncured bacon, blue cheese, caramelized onion, bacon jam, meyer lemon honey
                    </p>

                    <h5>standard</h5>
                    <p>organic beef, colby, caramelized onion , dill pickle</p>

                    <h5>elkasaurus</h5>
                    <p>grass-fed elk, uncured bacon, colby, wild mushroom, caramelized onion, smoke sauce</p>

                    <h5>so co</h5>
                    <p>all-natural turkey, avocado, organic tomato, baby kale, red onion, spicy green goddess</p>

                    <h5>ranchero</h5>
                    <p>grass-fed elk, pepper jack, pickled jalapeno, red onion, organic lettuce, garlic aioli</p>

                    <h5>bl-turkey</h5>
                    <p>all-natural turkey, uncured bacon, colby, avocado, red onion, organic tomato, organic lettuce,
                        honey
                        mustard</p>

                    <h5>the national</h5>
                    <p>organic beef, uncured bacon, colby, pickled green tomato, red onion, organic lettuce, special
                        sauce
                    </p>

                    <h5>southern chix</h5>
                    <p>nashville hot buttermilk-friend nae* chicken, pickled green tomato, organic lettuce, buttermilk
                        ranch
                    </p>

                    <h5>supreme</h5>
                    <p>2 organic beef patties, uncured bacon, colby, chopped french fries, onion rings, organic lettuce,
                        special sauce</p>
                </div>

                <div class="col-sm-6 p-3 bg-dark text-white rounded-end-5">
                    <h3>Meatless Burgers</h3>
                    <h5>my sunshine</h5>
                    <p>sweet potato, kale & wild-rice patty, avocado, baby kale, organic tomato, spicy green goddess</p>

                    <h5>cilantro black bean</h5>
                    <p>black bean poblano patty, avocado, pickled red onion, organic tomato, mixed greens, citrus dijon
                    </p>

                    <h5>impossible shrooming</h5>
                    <p>impossible beef, wild mushroom, caramelized onion, garlic aioli, jalapeno bbq</p>

                    <h5>impossible standards</h5>
                    <p>impossible beef, vegan american cheese, caramelized onion, dill pickle, garlic aioli, organic
                        ketchup
                    </p>
                </div>

            </div>
        </div>
    </a>

    <a id="about">
        <div class="container-fluid mt-3" id="about-div">
            <h1 style="color: white;">About</h1>
            <p>This is a full stack web app for a class project. The app allows users to make a reservation for a
                fictional burger restaurant and stores the reservation data in to a database</p>
            <p>Tools used for this project:</p>
            <ul>
                <li>Python for the backend</li>
                <li>PostgreSQL for database managemnt</li>
                <li>Bootstrap for layout</li>
            </ul>
            <p>Resources:</p>
            <ul>
                <li>https://www.svgbackgrounds.com/</li>
                <li>https://icons8.com/</li>
                <li>https://app.logo.com/dashboard/</li>
            </ul>
        </div>
    </a>

    <nav class="navbar navbar-expand-sm bg-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com" target="_blank"><img
                        src="./static/images/facebook.png" alt="link to facebook"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com" target="_blank"><img
                        src="./static/images/instagram.png" alt="link to instagram"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.twitter.com" target="_blank"><img
                        src="./static/images/twitter.png" alt="link to twitter"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.yelp.com" target="_blank"><img src="./static/images/yelp.png"
                        alt="link to yelp"></a>
            </li>
        </ul>
    </nav>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
</body>

</html>